@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* Primary Color */
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);

  /* Neutral */
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);

  /* Gradient */
  --very-light-red-g: hsla(13, 100%, 72%, 0.8);
  --light-red-g: hsla(353, 100%, 62%, 0.8);
  --very-dark-gray-blue-g: hsl(237, 17%, 21%);
  --very-dark-blue-d: hsl(237, 23%, 32%);

  /* Font */
  --body-font: "Ubuntu", sans-serif;
  --header-font: "Overpass", sans-serif;
  --body-font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font: 400 var(--body-font-size) / 1.5 var(--body-font);
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--very-dark-blue);
  
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: var(--header-font);
  
}

img {
  width: 100%;
  height: auto;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.flex {
  display: flex;
}
/* Margin */
.ml-auto,
.ms-auto {
  margin-left: auto;
}

/* Nav */

.navbar,
.navbar-nav,
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}


.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
}

.navbar-nav .nav-link:hover {
  color: var(--white);
  text-decoration: underline;
  transition: color 0.3s ease-in "text-decoration" 0.4s ease-in-out;
}

.nav-link{
  display: flex;
  align-items: center;
  color: var(--white);
}
.nav-link span{
  padding-right: 10px;
}

/* buttons */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 2rem;
  font-weight: 600;
}

.btn-primary {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50px;
}

.btn-secondary {
  color: var(--very-light-red);
  background-color: var(--white);
  border-radius: 50px;
  /* border: 1px solid var(--very-dark-grayish-blue); */
}

.btn-tertiary {
  color: var(--white);
}

.btn-menu {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  display: none;
}

/* section */
.section{
  padding: 4rem 0;
}

.section .section-header{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.section-header h2, .section .title{
  font-size: 2rem;
  color: var(--very-dark-blue);
  font-weight: 700;
}

.section-body{
  padding: 2rem 0;
}
/* row */
.row{
  display: flex;
}

.col-6{
  width: 49%;
}

.col-5{
  width: 45%;
}

.col-7{
  width: 55%;
}

.align-item-center{
  align-items: center;
}
/* header */
.main-header {
  height: 85vh;
  border-bottom-left-radius: 9rem;
  background: linear-gradient(
      137deg,
      var(--very-light-red-g) 35%,
      var(--light-red-g) 100%
    ),
    url("../images/bg-pattern-intro-desktop.svg") no-repeat;

  background-size: auto;
  background-position:center left;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5rem 0;
  background-clip: padding-box;
}


.main-header .hero{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin: auto 0;
  color: var(--white);
}


.hero-title{
  font-size: 3.5rem;
}

.hero .caption{
  margin: .5rem 0 2rem 0 ;

}

.hero .btn:last-child{
  margin-left: 1rem;
}

/* aboutus */

.about .item{

  margin-bottom: 3rem;

}

.about h3, .mobile h3{
  font-size: 1.875rem;
  color: var(--very-dark-blue);
  margin-bottom: .5rem;
}

.about p{
  font-size: .893rem;
  color: var(--grayish-blue);
}

.about-img{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  height: 40rem;
  margin-top: -150px;
  z-index: 1;
  margin-right: -100px;
  overflow: hidden;
  background-clip: border-box;
}

.bg-editor{
  background-image: url('../images/illustration-editor-desktop.svg') ;
  margin-left: 90px;
}


.about .col-6:last-child{
  margin-left: 4rem;
}

/* mobile */

.mobile{
  background: url('../images/bg-pattern-circles.svg') no-repeat left bottom/600px;
  background-color: var(--very-dark-gray-blue-g);
  color: var(--white);
  height: 45vh;
  border-top-right-radius: 8rem;
  background-clip: padding-box;
  background-attachment: fixed;
}

.mobile h3{
  color: var(--white) !important;
}

.mobile-img{
  height: 35rem;
  background:url('../images/illustration-phones.svg') no-repeat center center /contain;
  z-index: 1;
  margin-top: -160px;
  background-clip: padding-box;
}

.ml--x{
  margin-right:0;
  margin-left: -360px;
  margin-top: -4rem;

}

.mt-4{
  margin-top: 4rem;
}

.bg-laptop{
  background-image: url('../images/illustration-laptop-desktop.svg');
}